@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* modern theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

button,
a {
	@apply cursor-none transition active:scale-110;
}

h1 {
	@apply text-center;
}

input, textarea {
	@apply text-slate-700 outline-cyan-400
}