@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

button,
a {
	@apply cursor-none transition active:scale-110;
}

h1 {
	@apply text-center;
}

input, textarea {
	@apply text-secondary-500 outline-none !placeholder-secondary-300
}